/* Premium Custom Overrides for Polaris */

:root {
  --pm-background: #f4f6f8;
  --pm-text: #202223;
  
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--pm-background);
  color: var(--pm-text);
}

/* Tables */
.Polaris-IndexTable__TableHeading {
  font-weight: 600 !important;
  color: #202223 !important;
}


